@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
               
               
            </hgroup>
           
        </div>
    </section>
}

    <p>
        @Html.ActionLink("Станции", "Index", "Station")
    </p>
<p>
    @Html.ActionLink("Маршруты", "Index", "Route")
</p>
<p>
    @Html.ActionLink("Расписание", "Index", "StationRoute")
</p>
<p>
    @Html.ActionLink("Типы вагонов", "Index", "WagonType")
</p>
