@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h2 >Приносим извинения.</h2><br>
    <h2 >Сервис наладиться в ближайшее время</h2>
</hgroup>
<div>
    @Html.ActionLink("Вернуться к маршрутам", "Index","Route")
</div>
